name: Build, test and publish
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_local:
    name: Build and publish local
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: [self-hosted, windows]
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
        
    - name: "Get previous tag"
      if: ${{ github.event_name == 'push' }}
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@v1"
      
    - name: "Build converter sln"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\ImperatorToCK2.sln -target:ImperatorToCK2

    - name: "Build converter jar"
      run: |
       cd $Env:GITHUB_WORKSPACE\ImperatorToCk2
       mvn package
       cp target/ImperatorToCK2.jar ../Release/ImperatorToCK2
      
    - name: "Build frontend"
      uses: ./Fronter.NET/.github/actions/build_frontend
      with:
        fronter_dir: 'Fronter.NET'
        release_dir: 'Release'
       
    - name: "Prepare release"
      if: ${{ github.event_name == 'push' }}
      run: |
       cd "C:\Program Files\7-Zip\"
       .\7z.exe a $Env:GITHUB_WORKSPACE\ImperatorToCk2-testing.zip $Env:GITHUB_WORKSPACE\Release\*
       
    - name: "Upload binaries to release"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.previoustag.outputs.tag }}
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: ImperatorToCk2-testing.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}

    - name: "Cleanup"
      if: always()
      run: |
        Get-ChildItem -Path $Env:GITHUB_WORKSPACE -Recurse -Force | Remove-Item -force -recurse

  build_foreign:
    name: Build foreign
    if: github.repository_owner != 'ParadoxGameConverters'
    runs-on: windows-2022
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    - name: "Build converter sln"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\ImperatorToCK2.sln -target:ImperatorToCK2

    - name: "Build converter jar"
      run: |
       cd $Env:GITHUB_WORKSPACE\ImperatorToCk2
       mvn package
       cp target/ImperatorToCK2.jar ../Release/ImperatorToCK2
      
    - name: "Build frontend"
      uses: ./Fronter.NET/.github/actions/build_frontend
      with:
        fronter_dir: 'Fronter.NET'
        release_dir: 'Release'
